@model AccountingCarsConfigurations.Models.ViewModel.ManufacturerViewModel;
@{
	ViewData["Title"] = "Manufacturers";
}

<table>
	<p>
		@Model.Manufacturer.Id | @Model.Manufacturer.Name | @Model.Manufacturer.Country | @Model.Manufacturer.Info
	</p>
	<form method="post" asp-action="Add">
		<div class="mb-3">
			<label for="Name" class="form-label">Название</label>
			<input type="text" class="form-control" id="Name" name="Name">
		</div>
		<div class="mb-3">
			<label for="Country" class="form-label">Страна</label>
			<input type="text" class="form-control" id="Country" name="Country">
		</div>
		<div class="mb-3">
			<label for="number" class="form-label">Номер телефона</label>
			<input type="number" class="form-control" id="Country" name="number">
		</div>
		<div class="mb-3">
			<label for="email" class="form-label">Email</label>
			<input type="email" class="form-control" id="Country" name="email">
		</div>
		<div>
			<button type="submit" class="btn-outline-success">Добавить</button>
		</div>
	</form>
	<thead>
		<tr>
			<th>id</th>
			<th>Название</th>
			<th>Страна</th>
			<th>json</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model.ManufacturersList)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.Country</td>
				<td>@item.Info</td>
			</tr>
		}
	</tbody>
</table>